.application-functions {
  text-align: center;
  background-color: @grey;

  &::after {
    content: "";
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 157px;
    height: 260px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-position: top;
  }
}

.application-functions__text {
  margin: 0;
  padding: 12px 56px;
}

.application-functions__additionally-information {
  padding-top: 28px;
  padding-bottom: 28px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @dark-blue;
  background-color: @white;
}

.application-functions__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  padding-top: 52px;
  padding-left: 32px;
  padding-right: 32px;
  list-style: none;
}

.application-functions__item {
  padding-bottom: 30px;
}

.application-functions__title {
  padding: 0;
  margin: 0;
  padding-bottom: 14px;
  font-size: 18px;
  line-height: 24px;
  color: @black;
}

.application-functions__description {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: @dark-blue;
}
