.comment {
  background-color: @black;
}

.comments__wrapper {
  margin: 0 auto;
}

.comments__list {
  display: flex;
  margin: 0;
  margin-top: 10px;
  padding: 27px 0;
}

.comments__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

.comments__title {
  padding: 0;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 34px;
}

.comments__message {
  padding: 0;
  margin: 0;
  .little-text;
}

.comments__user-description {
  display: none;
  .little-text;
}

.comments__toggles {
  text-align: center;
  margin: 6px 0;
  background-color: @grey;
}

@media (min-width: @tablet-width) {
  .comments__wrapper {
    width: 620px;
    padding: 0 20px;
  }

  .comments__message {
    order: 1;
    font-size: 18px;
  }

  .comments__title {
    margin: 0;
    margin-top: 36px;
    font-size: 20px;
    line-height: 30px;
    order: 2;
  }

  .comments__user-description {
    display: block;
    order: 3;
  }

  .comments__toggles {
    margin: 0;
    margin-top: 8px;
  }

  .comments__item {
    width: auto;
  }
}

@media (min-width: @desktop-width) {
  .comments__wrapper {
    width: 940px;
    padding: 0 10px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      z-index: 15;
      bottom: 264px;
      left: 443px;
      width: 80px;
      height: 65px;
      margin-left: auto;
      margin-right: auto;
      background-image: url("../img/icon-quotes.svg");
      background-position: top;
      background-repeat: no-repeat;
    }
  }

  .comments__message {
    order: 1;
    padding: 0 120px;
  }

  .comments__title {
    font-size: 24px;
    line-height: 30px;
    order: 2;
  }

  .comments__user-description {
    display: block;
    font-size: 18px;
    order: 3;
  }

  .comments__list {
    margin-top: 160px;
  }

  .comments__item {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      z-index: 15;
      top: 27px;
      left: 0;
      width: 80px;
      height: 65px;
      margin-left: auto;
      margin-right: auto;
      background-image: url("../img/icon-review-arrow-left.svg");
      background-repeat: no-repeat;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 15;
      top: 27px;
      right: 0;
      width: 80px;
      height: 65px;
      margin-left: auto;
      margin-right: auto;
      background-image: url("../img/icon-review-arrow-right.svg");
      background-repeat: no-repeat;
      background-position: right top;
    }
  }
}
