.comment {
  background-color: @black;
}

.comments__wrapper {
  margin: 0 auto;
}

.comments__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.comments__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 45px 21px;
}

.comments__title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 34px;
}

.comments__message {
  padding: 0;
  margin: 0;
  .little-text;
}

.comments__user-description {
  display: none;
  .little-text;
}

.comments__toggles {
  text-align: center;
  background-color: @grey;
}

@media (min-width: @tablet-width) {
  .comments__wrapper {
    width: 620px;
    padding: 0 20px;
  }

  .comments__message {
    order: 1;
    font-size: 18px;
  }

  .comments__title {
    font-size: 20px;
    line-height: 30px;
    order: 2;
  }

  .comments__user-description {
    display: block;
    order: 3;
  }
}

@media (min-width: @desktop-width) {
  .comments__wrapper {
    width: 940px;
    padding: 0 10px;
  }

  .comments__message {
    order: 1;
    padding: 0 120px;
  }

  .comments__title {
    font-size: 24px;
    line-height: 30px;
    order: 2;
  }

  .comments__user-description {
    display: block;
    font-size: 18px;
    order: 3;
  }
}
