.download-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 215px;
  padding: 28px 19px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  background-color: #1d2631;
  color: @white;
}

.download-information__download-button {
  text-align: center;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 15px;
  padding-bottom: 16px;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @white;
  text-decoration: none;
  border: 3px solid @white;
  border-radius: 30px;

  &:hover {
    color: @pink;
    background-color: @white;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: @white;
  }
}

.download-information__description {
  padding: 0;
  margin: 0;
}

.download-information__title {
  display: none;
  padding: 0;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
}


@media (min-width: @tablet-width) {
  .download-information {
    min-height: 410px;
    width: 300px;
    margin-top: -555px;
    margin-bottom: 90px;
    background-color: inherit;
  }

  .download-information__title {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .download-information {
    min-height: 500px;
    margin-top: -655px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 90px;
  }

  .download-information__title {
    display: block;
  }
}
