.editor {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  align-items: center;
  width: 210px;
  padding: 0;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 107px;
  list-style: none;
}

.editor__list-item:not(:last-of-type) {
  margin-right: 34px;
}

.editor__tool {
  border: none;
}

.editor__image {
  fill: rgba(40, 54, 69, 0.3);

  &:hover:not(.editor__image--active) {
    fill: rgba(40, 54, 69, 0.5);
  }

  &--active {
    fill: @pink;
  }
}

.editor__scale {
  position: relative;
}


.editor__toggle--one {
  display: block;
  position: absolute;
  top: 40px;
  left: -181px;
  width: 240px;
  height: 2px;
  background-color: @dark-blue;

  &::before {
    content: "";
    position: absolute;
    bottom: -6px;
    right: 33px;
    width: 10px;
    height: 10px;
    background-color: @grey;
    border: 2px solid @pink;
    border-radius: 50%;
  }
}

@media (min-width: @tablet-width) {
  .editor {
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    height: 200px;
    margin-top: 8px;
    margin-bottom: 58px;
  }

  .editor__image {
    width: 24px;
    height: 24px;
    fill: @pink;

    &--contrast {
      width: 26px;
      height: 16px;
      margin-bottom: 3px;
    }
  }

  .editor__toggle,
  .editor__toggle--one {
    display: block;
    position: absolute;
    top: -18px;
    left: 53px;
    width: 202px;
    height: 2px;
    background-color: @dark-blue;

    &::before {
      content: "";
      position: absolute;
      bottom: -6px;
      right: 93px;
      width: 10px;
      height: 10px;
      background-color: @grey;
      border: 2px solid @pink;
      border-radius: 50%;
    }
  }

  .editor__toggle--two::before {
    right: 163px;
  }


  .editor__toggle--three::before {
    right: 41px;
  }

  .editor__list-item {
    width: 255px;
    padding-bottom: 18px;
    margin-bottom: 26px;
    border-bottom: 1px solid rgba(40, 54, 69, 0.1);
  }
}
