.form-field__field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: none;
  padding: 0;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 42px;
  padding-right: 20px;
  padding-left: 20px;
}

.form-field__list,
.form-field__contacts-list,
.form-field__checkbox-list,
.form-field__radio-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.form-field__description {
  padding-left: 20px;
  color: @pink;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form-field__list {
  min-height: 320px;
}

.form-field__contacts-list {
  min-height: 205px;
}

.form-field__checkbox-list {
  min-height: 455px;
  padding-bottom: 42px;
}

.form-field__radio-list {
  min-height: 190px;
  padding-bottom: 42px;
}

.form-field__name-input,
.form-field__contact-input,
.form-field__comment-field {
  display: block;
  width: 236px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 12px;
  margin-top: 6px;
  // margin-bottom: 18px;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  color: @dark-blue;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
}

.form-field__field--grey {
  background-color: @grey;
  padding-bottom: 0;
}

.form-field__title,
.form-field__legend-title {
  margin: 0;
  padding-bottom: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: @pink;
  text-transform: uppercase;
}

.form-field__legend-title {
  display: none;
}

.form-field__title--contacts {
  width: 280px;
  text-align: center;
}

.form-field__checkbox-item,
.form-field__radio-item {
  padding: 0;
  margin: 0;
  // padding-bottom: 40px;
}

.form-field__description-checkbox,
.form-field__description-radio {
  font-size: 18px;
  line-height: 30px;
  color: @dark-blue;
}

.form-field__comment,
.form-field__title--comment {
  padding: 0;
  margin: 0;
}

.form-field__comment-field {
  margin-top: 12px;
  resize: none;
}

.form-field__submit {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 128px;
  padding-right: 20px;
  padding-left: 20px;
}

.form-field__submit-button {
  display: block;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @white;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 2px;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.form-field__explanation {
  margin: 0;
  padding: 0;
  text-align: center;
  .little-text;
  font-weight: 400;
  text-transform: uppercase;
}

.form-field__explanation--asteriks {
  color: @pink;
}

.form-field__additional-explanation {
  display: none;
}

@media (min-width: @tablet-width) {
  .form-field__field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 576px;
    margin-top: 54px;
    background-color: @white;
    border: 2px solid #e5e5e5;
  }

  .form-field__name-input,
  .form-field__description {
    display: flex;
  }

  .form-field__name-input {
    margin-top: -15px;
    margin-left: 20px;
    flex-grow: 1;
  }

  .form-field__description {
    padding: 0;
  }

  .form-field__item {
    width: 620px;
  }

  .form-field__legend-title {
    display: flex;
    width: auto;
    padding: 0 30px;
    margin: 0 auto;
    font-family: inherit;
    line-height: 30px;
  }

  .form-field__title {
    display: none;
  }

  .form-field__checkbox-list,
  .form-field__radio-list {
    margin-left: 0;
  }

  .form-field__field--name {
    order: 1;
    width: 580px;
    border: none;
  }

  .form-field__field--application {
    order: 2;
  }

  .form-field__field--contacts {
    order: 3;
  }

  .form-field__field--checkbox {
    order: 4;
  }

  .form-field__field--comment {
    order: 5;
  }

  .form-field__submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 6;
    margin-top: 67px;
    min-height: auto;
  }

  .form-field__submit-button {
    height: 59px;
    width: auto;
    padding: 0 50px;
  }

  .form-field__explanation {
    margin-top: auto;
    margin-bottom: auto;
  }

  .form-field__comment {
    display: flex;
    width: 504px;
    padding-left: 38px;
    padding-right: 38px;
  }

  .form-field__comment-field {
    display: flex;
    margin: 0 auto;
    flex-grow: 1;
  }

  .form-field__contact-input {
    order: 0;
  }
}

@media (min-width: @desktop-width) {
  .form-field__field {
    padding-left: 60px;
    padding-right: 60px;
  }

  .form-field__field--name,
  .form-field__field--application {
    width: 460px;
    padding: 0;
    min-height: none;
  }

  .form-field__field--name {
    margin-left: 0;
  }

  .form-field__list {
    margin-left: 0;
  }

  .form-field__field--application {
    margin-right: 0;
  }

  .form-field__item {
    width: auto;
  }

  .form-field__field--contacts,
  .form-field__field--checkbox,
  .form-field__field--comment {
    width: 920px;
    min-height: auto;
  }

  .form-field__checkbox-list {
    flex-direction: row;
    min-height: auto;
    justify-content: space-between;
  }

  .form-field__checkbox-item {
    min-width: 260px;
    margin-right: 18px;
    text-align: center;
  }

  .form-field__checkbox-item:nth-of-type(3n) {
    margin-right: 0;
  }

  .form-field__comment {
    display: flex;
    width: 724px;
    padding-left: 38px;
    padding-right: 38px;
  }

  .form-field__submit {
    width: 940px;
    padding: 0;
  }

  .form-field__additional-explanation {
    display: inline-block;
  }
}
