.main-navigation {
  width: 100%;
  margin: 0 auto;
  background-color: none;
}

.main-navigation__toggle {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 24px;
  font-size: 0;
  background-image: url("../img/icon-menu-burger.svg");
  border: none;
  background-color: transparent;
}

@media (min-width: @tablet-width) {
  .main-navigation__toggle {
    top: 40px;
  }
}

@media (min-width: @desktop-width) {
  .main-navigation__toggle {
    display: none;
  }

  .main-navigation {
    width: 680px;
    margin-left: auto;
    margin-right: 0;
  }

  .main-navigation__toggle-close {
    display: none;
  }
}

@media (max-width: @mobile-and-tablet-width) {
  .main-navigation__toggle--closed,
  .main-navigation__toggle--nojs {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon-menu-cross.svg");
    background-repeat: none;
    border: none;
    background-color: transparent;
  }

  .main-navigation__toggle--opened {
    display: block;
    background-image: url("../img/icon-menu-burger.svg");
    border: none;
    background-color: transparent;
  }
}
