.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 204px;
  justify-content: space-between;
  padding: 40px 74px;
}

.page-footer__logo-link {
  display: block;
  text-align: center;
  margin-right: auto;
}

.page-footer__wrapper--main {
  display: none;
}

.page-footer__copyright {
  margin-left: auto;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper--main {
    display: flex;
  }

  .page-footer__wrapper {
    width: 620px;
    min-height: auto;
    padding: 35px 20px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 940px;
    padding: 68px 10px;
  }
}
