.page-header {
  position: relative;
  z-index: 20;
  // background-color: rgba(0, 0, 0, 0.3);
  background-color: @dark-blue;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 30;
  margin: 0 auto;
  // padding: 19px 20px;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    // width: 620px;
    // padding: 41px 20px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__wrapper {
    flex-direction: row;
    width: 940px;
    padding: 41px 10px;
  }
}
