.page-title {
  margin-top: -68px;
  padding-top: 179px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #25323f;
  background-repeat: no-repeat;
  background-position: center;
}

.page-title--main::after {
  content: "";
  display: flex;
  width: 320px;
  height: 286px;
  margin: 0 auto;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .page-title {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 710px auto;
  }

  .page-title--main::after {
    width: 320px;
    height: 286px;
    margin: 0 auto;
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 257px auto;
  }
}

.page-title--form-page,
.page-title--photo-page {
  padding-top: 98px;
  text-align: center;
  background-position: center top;
  background-size: cover;
}

.page-title__text {
  width: 280px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @white;
}

.page-title--form-page {
  padding-bottom: 52px;
}

.page-title--photo-page {
  padding-bottom: 82px;
}

@media (min-width: @tablet-width) {
  .page-title {
    padding-top: 184px;
    margin-top: -110px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .page-title--main::after {
    width: 640px;
    height: 545px;
    margin: 0 auto;
    margin-left: none;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: -30px;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .page-title {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }

    .page-title--main::after {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px auto;
      background-position: -30px;
    }
  }

  .page-title--form-page,
  .page-title--photo-page {
    padding-top: 181px;
    padding-bottom: 140px;
    font-size: 50px;
    line-height: 60px;
  }

  .page-title__text {
    font-size: 50px;
    line-height: 60px;
    width: 480px;
  }

  .page-title--photo-page {
    background-size: auto;
  }

  .page-title--form-page {
    padding-bottom: 80px;
    background-position: center top;
  }
}

@media (min-width: @desktop-width) {
  .page-title {
    margin-top: -114px;
    padding-top: 171px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: top;
  }

  .page-title--main::after {
    display: block;
    width: 858px;
    height: 752px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: -24px 43px;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .page-title {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2600px auto;
    }

    .page-title--main::after {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;
    }
  }

  .page-title--form-page,
  .page-title--photo-page {
    padding-top: 180px;
    padding-bottom: 100px;
    font-size: 50px;
    line-height: 60px;
  }

  .page-title--form-page .page-title__text {
    width: 780px;
  }
}
