.page-title {
  margin-top: -66px;
  padding-top: 176px;
  padding-right: 20px;
  padding-left: 20px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #25323f;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-title--main::after {
  content: "";
  display: flex;
  width: 258px;
  height: 286px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: top;
}

.page-title--form-page,
.page-title--photo-page {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @white;
  padding-top: 102px;
  padding-bottom: 46px;
  padding-left: 46px;
  padding-right: 46px;
}

.page-title--photo-page {
  padding-bottom: 76px;
}

@media (min-width: @tablet-width) {
  .page-title {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -110px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .page-title--main::after {
    width: 625px;
    height: 545px;
    margin-left: none;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: center;
  }
}

@media (min-width: @desktop-width) {
  .page-title {
    margin-top: -110px;
    padding-top: 185px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .page-title--main::after {
    display: block;
    width: 791px;
    height: 645px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
  }
}
