.page-header {
  position: relative;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 30;
  margin: 0 auto;
  padding: 19px 20px;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    padding: 41px 20px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    width: 940px;
    padding: 41px 10px;
  }
}
