.site-list {
  position: relative;
  z-index: 20;
  display: none;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: @dark-blue;
  list-style: none;
}

.site-list__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.site-list__item {
  padding-top: 16px;
  padding-bottom: 15px;
  box-shadow: 0 1px 0 @black,
    inset 0 2px 0 rgba(255, 255, 255, 0.15);
}

@media (min-width: @dekstop-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    background-color: inherit;
  }

  .site-list__item {
    padding: 0;
    box-shadow: none;
    background-color: inherit;
  }

  .site-list__link {
    font-weight: 400;
    text-transform: none;
  }
}
