.slider__toggles {
  background-color: @white;
}

.slider__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  margin: 0 auto;
}

.slider__toggle {
  font-size: 0;
  padding: 3px;
  border-radius: 50%;
  background-color: @dark-blue;
  opacity: 0.3;
  border: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.slider__toggle--active {
  background-color: @white;
  border: 3px solid @dark-blue;
  opacity: 1;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

@media (min-width: @desktop-width) {
  .slider__wrapper {
    display: none;
  }
}
