.supported-platforms {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  justify-content: space-around;
}

.supported-platforms__item {
  display: flex;
  padding-left: 18px;
  padding-right: 18px;
}

.supported-platforms__link {
  width: 47px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
}

.supported-platforms__link--apple {
  background-image: url("../img/logo-apple.svg");
}

.supported-platforms__link--android {
  background-image: url("../img/logo-android.svg");
}

.supported-platforms__link--windows {
  background-image: url("../img/logo-microsoft.svg");
}
