.visible-header {
  padding: 20px 20px;
}

.visible-header__logo-image--tablet,
.visible-header__logo-image--desktop {
  display: none;
}

.visible-header__logo-image {
  fill: @white;
}

.visible-header__logo-link:hover:not(.visible-header__logo-link--main) .visible-header__logo-image {
  fill: @pink;
}

.visible-header__logo-link:active:not(.visible-header__logo-link--main) .visible-header__logo-image {
  fill: @white;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .visible-header {
    padding: 0 20px;
    padding-top: 27px;
    padding-bottom: 42px;
  }

  .visible-header__logo-image--mobile {
    display: none;
  }

  .visible-header__logo-image--tablet {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .visible-header {
    padding: 0;
    padding-top: 27px;
    padding-bottom: 42px;
  }

  .visible-header__logo-image--tablet,
  .visible-header__logo-image--mobile {
    display: none;
  }

  .visible-header__logo-image--desktop {
    display: block;
  }
}
