.comment {
  background-color: #ffffff;
}

.comments__item {
  display: inline-block;
}

.comments__title {
  font-size: 18px;
  line-height: 34px;
}

.comments__message {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
