.download-information {
  text-align: center;
  margin-top: -3px;
  padding: 28px 19px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  background-color: #1d2631;
  color: #ffffff;
}

.download-information__download-button {
  display: inline-block;
  text-align: center;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 17px;
  padding-bottom: 14px;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 30px;
}

.download-information__description {
  padding: 0;
  margin: 0;
}
