.page-title {
  margin-top: -120px;
  padding-top: 176px;
  padding-right: 62px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #25323f;
  background-repeat: no-repeat;
}

.page-title--form-page,
.page-title--photo-page {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  padding-top: 102px;
  padding-bottom: 46px;
  padding-left: 46px;
  padding-right: 46px;
}

.page-title--photo-page {
  padding-bottom: 76px;
}
